/*-- estilos generales --*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #f5f5f5;
  background-color: rgb(18, 18, 18);
}

/* renderizando colores para página */

.colorRender a:hover {
  transition: all 0.3s ease;
  color: rgb(34, 148, 24);
}

.colorActive {
  border-color: rgb(34, 148, 24);
  color: rgb(34, 148, 24);
}

/* --estilos del navegador-- */

/* backgrounds colores */

.navTextWhiteApp a {
  color: #e7e7e7;
  /* background-color: #2a2a2a; */
}

.sectionBackApp {
  background-color: #ffffff1a;
}

.footerBackApp {
  color: #e7e7e7;
  background-color: #202020;
}

/* custom de los toggler */

.navbar-toggler:focus {
  box-shadow: none;
}

.custom-toggler.navbar-toggler {
  border-color: rgba(0, 128, 0, 0.8);
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 128, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.btn-close-icon {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgba(0, 128, 0, 0.8)'><path d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/></svg>");
}
