body {
  color: #f5f5f5;
  background-color: rgb(18, 18, 18);
}

.navBackApp{
  color: #e7e7e7;
  background-color: #2a2a2a;
}

.sectionBackApp{
  background-color: #FFFFFF1A;
}

.footerBackApp{
  color: #e7e7e7;
  background-color: #202020;
}

